#top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#principalContainer{
    display: flex;
    flex-direction: row;
}

#sContainer{
    margin: 40px;
}

#datos{
    margin-top: 15px;
}